.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(245, 226, 200);
    font-family: 'Times New Roman', Times, serif;
    padding-left: 17%;
    padding-top: 3%;
    padding-bottom: 2%;
    gap:3%;
}
.container > div {
    background-color: rgb(255, 255, 255);
    margin: 1%;
    padding-right: 1%;
    padding-left: 1%;
    font-size: 1em;
    width: 22%;
    text-align: center;
}
h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkred;
    font-size: 1.2em;   
}
#autore {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
h6 {
    font-size: 0.9em;
}
.active {
    background-color: antiquewhite;
}
#sottotitolo {
    color: darkred;
    font-size: 1em;
}
img {
    max-width: 70%;
}
p {
    font-size: 1em;
    text-align: center;
}
.pagination {
    display: flex;
    justify-content: center;
}
.pagination a {
    color: black;
    float: left;
    padding: 0.5% 1%;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a:hover {
    background-color: rgba(0, 0, 0, 0.264);
}

@media only screen and (max-width: 600px){
    .container {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(245, 226, 200);
        font-family: 'Times New Roman', Times, serif;
        padding-left: 10%;
        padding-top: 3%;
        padding-bottom: 2%;
        gap:3%;
    }
    .container > div {
        background-color: rgb(255, 255, 255);
        margin-top: 2%;
        margin-left: 1%;
        padding-right: 2%;
        padding-left: 2%;
        font-size: 0.9em;
        width: 43%;
        text-align: center;
    }
    h2 {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.3em;
    }
    h5 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: darkred;
        font-size: 1.3em; 
        text-align: center;
    }
    h6 {
        font-size: 1em;
    }
    #autore {
        font-size: 1.2em;
    }
    #sottotitolo {
        color: darkred;
        font-size: 1em;
    }
    #dannati {
        height: 14%;
    }
}