main {
    margin-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}
text {
    font-size: 1.5em;
    font-style: oblique;
}
.text-body-secondary {
    padding-right: 0%;
    padding-left: 80%;
}

.riflessione {
    text-align: center;
}
#shoah,#arbiru,#poetando,#paraspiti,#donna,#primavera,#autonomia {
    width: 23%;
}
.feste {
    font-family: 'Ephesis', cursive;
    font-size: 2.3em;
    text-align: center
}
#holidays {
    width:40%;
    border-radius: 20%;
}

@media only screen and (max-width: 600px) 
{
    main {
        text-align: center;
        margin-top: 3%;
        font-size: 1em;
    }
    #poetando {
        width:50%;
        margin-top: 2%;
        border: 2 solid black;   
    }
    #arbiru {
        width: 20%;
    }
    text {
        font-size: 1.3em;
        font-style: oblique;
    }
    .feste {
        font-family: Signature, serif;
        src: url("C:\Users\sery9\Desktop\Dafonts\signature_5\Signature.otf");
        font-size:2.1em;
    }
    #holidays {
        width:70%;
        border-radius: 20%;
    }
    
}
